<!DOCTYPE html>
<html>
<head>
	<title>Financial Data Tracker</title>
	<!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
	<script src="http://code.highcharts.com/stock/highstock.js"></script>
	<!-- google sheets api -->
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://www.highcharts.com/samples/data/usdeur.js"></script>

	<script src="https://code.highcharts.com/modules/drilldown.js"></script>

	<style>
      body {
        padding-top: 54px;
        background-color: #f2f0e4;
        color: #00667F;
      }


    </style>
</head>

<body>
<div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Financial Data Tracker</h1>
          <p class="lead" style="color: #e87642; font-size: 48px; ">Exante Data</p>
        </div>
      </div>
    </div>
	<h1 class="text-center" style="padding-top: 15px; padding-bottom: 50px;font-size: 36px;"> Interact with Default Financial Data or Input Your Own Excel Data for Graphical Analysis</h2>
	<!-- container for the chart -->
	<div id="container" style="width:100%; height:400px; padding-top: 40px;"></div>
	<div class='wrapper' style="text-align: center; padding-top: 25px">
    <form id='nameForm'>
    <div class='form-uname'>
        <lable id='nameLable' for='nameField'>Select Category to View in Single Graph</lable>
        <p style="color: #e87642">EURUSD Currency | EURGBP Currency | EEREE 21 | Ez BOP (eq) | Ez BOP (bonds) | US TIC flows</p><br><br>
        <input id='nameField' type='text' maxlength='25'></input><br><br>
    	</div>
    	<div class='form-sub'>
       	 <button id='subButton' type='button'>Render Interactive Graph</button>
    	</div>
	</form>
	<div>
   	 	<p id='result'></p></div>
	</div>
	<div id="container2" style="width:100%; height:400px; padding-top: 40px;"></div>
	<h1 style="text-align: center; padding-top: 100px; padding-bottom: 25px;">Or Import Your Own Financial Elements from Excel file</h1>
	<h3 style="text-align: center; padding-bottom: 25px; color: #e87642">If there is already data in database, just 'Enter Grapher'</h3>
	<div style="text-align: center; padding-bottom: 80px; align-content: center; ">

		<%= form_tag import_helper_path, multipart: true do %>
			<p style="display: inline-block;"><%= file_field_tag :file, required: true %></p>
  			<%= submit_tag "Import" %>
		<% end %>
		<a href="/graph">
			<% link_to "Grapher", '/graph' %>
			<button class= 'btn btn-primary-lrg'>Enter Grapher</button>
		</a>

	</div>


	<h1 style="text-align: center; padding-bottom: 30px;">Current State of the Database</h1>


	<table style="text-align: center; width: 100%;">
		<tr style="text-align: center;">
			<th>Date</th>
			<th>Name</th>
			<th>Value</th>
		</tr>
		<% @financials.each do |financial| %>
		<tr>
    			<td><%= financial.day %></td>
    			<td><%= financial.name %></td>
    			<td><%= financial.model_value %></td>
  		</tr>
		<% end %>
	</table>


</body>


<script>

	$(function () { 

		function getUserName() {
    		var nameField = document.getElementById('nameField').value;
    		var result = document.getElementById('result');

    		if (nameField == "EURUSD Currency") {
    			nameField = 2;
    		} else if (nameField == "EURGBP Currency") {
    			nameField = 3;
    		} else if (nameField == "EEREE 21") {
    			nameField = 4;
    		} else if (nameField == "Ez BOP (eq)" || nameField == "EZ BOP (eq)") {
    			nameField = 5;
    		} else if (nameField == "Ez BOP (bonds)" ||
    				 nameField == "EZ BOP (bonds)") {
    			nameField = 6;
    		} else if (nameField == "US TIC Flows" || nameField == "US TIC flows") {
    			nameField == 7;
    		} else {
    			nameField = "Invalid Command, Try Again Bro";
    		}
    
        	result.textContent = 'Category Selected: ' + nameField;

        	var myChart2 = Highcharts.chart('container2', {
		        chart: {
		            type: 'line'
		        },
		        rangeSelector: {
		        	enabled: true
		        },
		        title: {
		            text: 'Exante Data Time Series Analysis'
		        },
		        xAxis: {
		            text: 'Time Series'
		        },
		        data: {
					googleSpreadsheetKey: '1eQ-bJShsH4iGgFWWk8rtgEYeqMnP3K-PsyyWDcmMZGs',
					googleSpreadsheetWorksheet: nameField
				},
	    	});

	}

		var subButton = document.getElementById('subButton');
		subButton.addEventListener('click', getUserName, false);
		console.log("event handler called");

	    var myChart = Highcharts.chart('container', {
	        chart: {
	            type: 'line'
	        },
	        rangeSelector: {
	        	enabled: true
	        },
	        title: {
	            text: 'Overall Exante Data Financial Time Series'
	        },
	        xAxis: {
	            text: 'Time Series'
	        },
	        data: {
				googleSpreadsheetKey: '1eQ-bJShsH4iGgFWWk8rtgEYeqMnP3K-PsyyWDcmMZGs'
				 // https://docs.google.com/spreadsheets/d/1fPThphc4rrus17TrK5d1UytT7D7tNqq5cOmVRI_BUBU/edit?usp=sharing
			}
	    });
});



</script>

</html>









