<!DOCTYPE html>
<html>
<head>
	<title>Financial Data Tracker</title>

	<script src="http://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://www.highcharts.com/samples/data/usdeur.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/regression/1.4.0/regression.min.js"></script>
	<script src="//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js"> </script>
	<script src="https://code.highcharts.com/modules/data.js"></script>

	<style>
      body {
        background-color: #f2f0e4;
        color: #00667F;
      }

/*      #graph_container {
    	margin-top: 50px;
    	margin-left: 30%;
      }*/

      #data_description {
      	text-align: center;
      }

      .data {
      	color: #e87642;
      }

      #dataRecieved {
      	padding-left: 25%;
      	padding-right: 25%;
      }

      #center_divs {
      	display: table;
      	width: 100%;
      }

      #center_divs > div {
      	text-align: center;
      	display: table-cell;
      	padding: 1em;
      	width: 50%;
      }

      #timeSeriesForm {
      	text-align: center;
      }

      #submit {
      	text-align: center;
      	margin-bottom: 50px;
      }




    </style>
</head>
<body>

<nav class = "navbar navbar-default" role = "navigation">
   
   <div class = "navbar-header">
      <button type = "button" class = "navbar-toggle" 
         data-toggle = "collapse" data-target = "#example-navbar-collapse">
         <span class = "sr-only">Toggle navigation</span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
      </button>
		
      <a class = "navbar-brand" href = "#">Data Tracker</a>
   </div>
   
   <div class = "collapse navbar-collapse" id = "example-navbar-collapse">
	
      <ul class = "nav navbar-nav">
      	<li>
      		<a href="/importer">
			<% link_to "Importer", '/importer' %>
			Importer
		</a>
      	</li>
         <li class="active"><a href = "/graph">Grapher</a></li>
			
			
      </ul>
   </div>
   
</nav>

<div class="container" style="margin-top: 100px;">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Financial Data Tracker</h1>
          <p class="lead" style="color: #e87642; font-size: 48px; ">Exante Data</p>
        </div>
      </div>
</div>

<h1 style="text-align: center; font-size: 48px; margin-bottom: 50px;">Grapher</h1>

<img src="/graph.png" class="img-responsive" alt="Cinque Terre">

<div id="container" style="width:100%; height:400px; padding-top: 40px;"></div>
<div id="container1" style="width:100%; height:400px; padding-top: 40px;"></div>




<br>

<!-- <div id="data_description"> -->
<div id="dataRecieved">
	<h3>Data Received</h3>
	<b>Category 1:</b><br> <p class="data"><%= @category1 %></p><br>
	<b>Category 2:</b><br> <p class="data"><%= @category2 %></p><br>
	<b>Start date:</b><br> <p class="data"><%= @chosen_start_date %></p><br>
	<b>End date:</b><br> <p class="data"><%= @chosen_end_date %></p><br>
	<b>Category 1 Data:</b><br> <p class="data"><%= @category1_data %></p><br>
	<b>Category 2 Data:</b><br> <p class="data"><%= @category2_data %></p><br>
	<b>Dates:</b><br> <p class="data"><%= @dates %></p><br><br>

	<br>
</div>
<div id="timeSeriesForm">
<h3 style="font-size: 26px;">Enter Time Series and Financial Element Category</h3>

		<br><br>
</div>
<div id="center_divs">

<div>
	<%= form_tag graph_path, method: :get do %>
		Category 1: 
		<br><br>
		<% @categories.each do |category| %>
			<%= radio_button_tag(:category1, category, required: 'required') %>
			<%= label_tag(:category1, category) %>
			<br>
		<% end %>

		<br><br>
</div>

<div>	
		Category 2:
		<br><br>
		<% @categories.each do |category| %>
			<%= radio_button_tag(:category2, category, required: 'required') %>
			<%= label_tag(:category2, category) %>
			<br>
		<% end %>

		<br><br>
</div>
</div>
	<div id="submit">
		<%= text_field_tag :daterange, "", name: 'daterange', size: 24 %>
		<%= submit_tag "Redefine search" %>
	</div>

	<% end %>
<!-- </div> -->


</body>

<script type="text/javascript">

	// console.log("daterangepicker --->");
	// console.log($('input[name="daterange"]'));



	$(function () { 

		$('input[name="daterange"]').daterangepicker({
			"startDate": <%= @start_date.strftime('%m/%d/%Y') %>,
			"endDate": <%= @end_date.strftime('%m/%d/%Y') %>
		})

		var array1 = <%= @category1_data.inspect.html_safe %>;
		var array2 = <%= @category2_data.inspect.html_safe %>;
		// var dates = <%= @dates[6] %>
		var dates = [];


		for (var strInd = 0; strInd < array1.length; strInd++) {
			
		}

		var final_array = [];
		var another_array = [];
		for (var i = 0; i < array1.length; i++) {
			final_array[i] = [array1[i], array2[i]];
		}
		var slope = regression('linear', final_array);

		var m = slope.equation[0], b = slope.equation[1];

		for (var j = 0; j < array1.length; j++) {
			another_array[j] = [array1[j], (array1[j] * m)];
			// another_array = array1[i] * m;
		}

		console.log("m (slope): ")
		console.log(m);

		console.log("dates");
		console.log(dates);

		console.log("another_array:");
		console.log(another_array);

		console.log(array1);
		console.log(array2);
		console.log(final_array);
		console.log(final_array.length)

		var myChart1 = Highcharts.chart('container1', {
	        chart: {
	            type: 'scatter',
	            zoomType: 'xy'
	        },
	        rangeSelector: {
	        	enabled: true
	        },
	        title: {
	            text: 'Overall Exante Data Financial Time Series'
	        },
	        xAxis: {
	            text: 'Time Series'
	        },
	        series: [{
                regression: true ,
                regressionSettings: {
                    type: 'linear',
                    color:  'rgba(223, 83, 83, .9)',
                    name: "%eq | r2: %r |"
                },
                name: 'Regression Value',
                data: final_array
    
            }
            , {
            	regression: true,
            	regressionSettings: {
            		type: 'linear',
            		color: 'rgba(133, 44, 11, .9',
            	},
            	name: 'Beta Value',
            	data: another_array
            }
            ]
	    });

	    var myChart = Highcharts.chart('container', {
	        chart: {
	            type: 'line',
	            zoomType: 'xy'
	        },
	        rangeSelector: {
	        	enabled: true
	        },
	        title: {
	            text: 'Overall Exante Data Financial Time Series'
	        },
	        xAxis: {
	            text: 'Time Series'
	        },
	        data: {
				googleSpreadsheetKey: '1eQ-bJShsH4iGgFWWk8rtgEYeqMnP3K-PsyyWDcmMZGs'
				 // https://docs.google.com/spreadsheets/d/1fPThphc4rrus17TrK5d1UytT7D7tNqq5cOmVRI_BUBU/edit?usp=sharing
			}
	    });

	    console.log("hello");
		//     $(function() {
		// 	$('input[name="daterange"]').daterangepicker({
		// 		"startDate": "<%= @start_date.strftime('%m/%d/%Y') %>",
		// 		"endDate": "<%= @end_date.strftime('%m/%d/%Y') %>"
		// 	})
		// })

		// var xs = [], ys = [];

		// data.forEach(function(d){
		//    	xs.push(d[0]);
		//     ys.push(d[1]);
		// });

		// var x0 = Math.min.apply(null, xs), 
		//     y0 = m*x0 + b;
		// var xf = Math.max.apply(null, xs), 
		//     yf = m*xf + b;



});




</script>



