<!DOCTYPE html>
<html>
<head>
	<title>Financial Data Tracker</title>
	<script src="http://code.highcharts.com/stock/highstock.js"></script>
	<!-- <script src="//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js"> </script> -->
	<!-- google sheets api -->
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/regression/1.4.0/regression.min.js"></script> -->
	<script src="//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js"> </script>

	<style>
      body {
        padding-top: 54px;
        background-color: #f2f0e4;
        color: #00667F;
      }

      #graph_container {
    	margin-top: 50px;
    	margin-left: 25%;
      }

      #data_description {
      	text-align: center;
      }

      .data {
      	color: #e87642;
      }


    </style>
</head>
<body>

<div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Financial Data Tracker</h1>
          <p class="lead" style="color: #e87642; font-size: 48px; ">Exante Data</p>
        </div>
      </div>
</div>

<h1 style="text-align: center; font-size: 48px;">Grapher</h1>

<div id="graph_container" style="width: 100%;">
	<%= image_tag '/graph.png', alt: 'No graph to be shown' %>
</div>

<div id="container" style="width:100%; height:400px; padding-top: 40px;"></div>
<div id="container1" style="width:100%; height:400px; padding-top: 40px;"></div>
<div id="container2" style="width:100%; height:400px; padding-top: 40px;"></div>


<br>

<div id="data_description">
	<h3>Data Received</h3>
	<b>Category 1:</b><br> <p class="data"><%= @category1 %></p><br><br>
	<b>Category 2:</b><br> <p class="data"><%= @category2 %></p><br><br>
	<b>Start date:</b><br> <p class="data"><%= @chosen_start_date %></p><br><br>
	<b>End date:</b><br> <p class="data"><%= @chosen_end_date %></p><br><br>
	<b>Category 1 Data:</b><br> <p class="data"><%= @category1_data %></p><br><br>
	<b>Category 2 Data:</b><br> <p class="data"><%= @category2_data %></p><br><br>
	<b>Dates:</b><br> <p class="data"><%= @dates %></p><br><br>

	<br>

	<h3>Form</h3>
	<%= form_tag graph_path, method: :get do %>
		Category 1: 
		<br><br>
		<% @categories.each do |category| %>
			<%= radio_button_tag(:category1, category, required: 'required') %>
			<%= label_tag(:category1, category) %>
			<br>
		<% end %>

		<br><br>
		
		Category 2:
		<br><br>
		<% @categories.each do |category| %>
			<%= radio_button_tag(:category2, category, required: 'required') %>
			<%= label_tag(:category2, category) %>
			<br>
		<% end %>

		<br><br>

		<%= text_field_tag :daterange, "", name: 'daterange', size: 24 %>

		<br><br>

		<%= submit_tag "Redefine search" %>

	<% end %>
</div>


</body>

<script type="text/javascript">
	// $(function() {
	// 	$('input[name="daterange"]').daterangepicker({
	// 		"startDate": "<%= @start_date.strftime('%m/%d/%Y') %>",
	// 		"endDate": "<%= @end_date.strftime('%m/%d/%Y') %>"
	// 	})
	// })



	$(function () { 

		var array1 = <%= @category1_data.inspect.html_safe %>;
		var array2 = <%= @category2_data.inspect.html_safe %>;
		var final_array = [];
		for (var i = 0; i < array1.length; i++) {
			final_array[i] = [array1[i], array2[i]];
		}

		console.log(array1);
		console.log(array2);
		console.log(final_array);
		console.log(final_array.length)






	    var myChart = Highcharts.chart('container', {
	        chart: {
	            type: 'scatter',
	            zoomType: 'xy'
	        },
	        rangeSelector: {
	        	enabled: true
	        },
	        title: {
	            text: 'Overall Exante Data Financial Time Series'
	        },
	        xAxis: {
	            text: 'Time Series'
	            // type: 'datetime'
	        },
	        series: [{
                regression: true ,
                regressionSettings: {
                    type: 'linear',
                    color:  'rgba(223, 83, 83, .9)',
                    name: "%eq | r2: %r"
                },
                name: 'Female',
                data: final_array
    
            }]
	    });

	    console.log("hello");

	    var myChart2 = Highcharts.chart('container1', {
	        chart: {
	            type: 'scatter',
	            zoomType: 'xy'
	        },
	        rangeSelector: {
	        	enabled: true
	        },
	        title: {
	            text: 'Overall Exante Data Financial Time Series'
	        },
	        xAxis: {
	            text: 'Time Series'
	            // type: 'datetime'
	        },
	        series: [{
                regression: true ,
                regressionSettings: {
                    type: 'linear',
                    color:  'rgba(223, 83, 83, .9)',
                    name: "%eq | r2: %r"
                },
                name: 'Female',
                data: final_array
    
            }]
	    });




	    var myChart3 = Highcharts.chart('container2', {
	    // $('#container2').highcharts({
            chart: {
                type: 'scatter',
                zoomType: 'xy'
            },
            title: {
                text: 'Height Versus Weight of 507 Individuals by Gender'
            },
            subtitle: {
                text: 'Source: Heinz  2003'
            },
            xAxis: {
                title: {
                    enabled: true,
                    text: 'Height (cm)'
                },
                startOnTick: true,
                endOnTick: true,
                showLastLabel: true
            },
            yAxis: {
                title: {
                    text: 'Weight (kg)'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                backgroundColor: '#FFFFFF',
                borderWidth: 1
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 5,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: '{point.x} cm, {point.y} kg'
                    }
                }
            },
            series: [{
                regression: true ,
                regressionSettings: {
                    type: 'linear',
                    color:  'rgba(223, 83, 83, .9)'
                },
                name: 'Female',
                color: 'rgba(223, 83, 83, .5)',
                // data: [[x0, y0], [xf, yf]]
    
            }]
        });

	    console.log("after myChart2");


	 //    var data = [[11.6,14.7],[12.2,15.9],[10.7,14.8],[14,11.7],[12.5,13.2],[10,11.3],[10.1,11],[13.5,19.1]];
		// var slope = regression('linear', data);

		// var m = slope.equation[0], b = slope.equation[1];

		// console.log("m (slope): ")
		// console.log(m);

		// var xs = [], ys = [];

		// data.forEach(function(d){
		//    	xs.push(d[0]);
		//     ys.push(d[1]);
		// });

		// var x0 = Math.min.apply(null, xs), 
		//     y0 = m*x0 + b;
		// var xf = Math.max.apply(null, xs), 
		//     yf = m*xf + b;

		// var myChart = Highcharts.chart('container2', {
		//     chart: {
		//         type: 'scatter',
		//         zoomType: 'xy'
		//     },
		//     plotOptions: {
		//         scatter: {
		//             marker: {
		//                 radius: 5,
		//                 states: {
		//                     hover: {
		//                         enabled: true,
		//                         lineColor: 'rgb(100,100,100)'
		//                     }
		//                 }
		//             },
		//             states: {
		//                 hover: {
		//                     marker: {
		//                         enabled: false
		//                     }
		//                 }
		//             },
		//             tooltip: {
		//                 headerFormat: '<b>{series.name}</b><br>',
		//                 pointFormat: '{point.x} cm, {point.y} kg'
		//             }
		//         }
		//     },
		//     series: [
		//         {
		//             type: 'line',
		//             name: 'Regression Line',
		//             data: [[x0, y0], [xf, yf]], 
		//             marker: {
		//                 enabled: false
		//             },
		//             states: {
		//                 hover: {
		//                     lineWidth: 0
		//                 }
		//             },
		//             enableMouseTracking: false
		//         },
		//         {
		//         name: 'Water Temperature vs. Air Temperature',
		//         color: 'rgba(119, 152, 191, .5)',
		//         data: data
		//     }]
		// });



});




</script>



