<!DOCTYPE html>
<html>
<head>
  <title>DataTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'http://cdn.jsdelivr.net/momentjs/latest/moment.min.js' %>
  <%= javascript_include_tag 'application', 'http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js' %>

  <%= stylesheet_link_tag 'application', 'http://cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css' %>
  <%= stylesheet_link_tag 'application', 'http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css' %>

  	<script src="http://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://www.highcharts.com/samples/data/usdeur.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/regression/1.4.0/regression.min.js"></script>
	<script src="//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js"> </script>
	<script src="https://code.highcharts.com/modules/data.js"></script>


  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
