<!DOCTYPE html>
<html>
<head>
  <title>DataTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'http://cdn.jsdelivr.net/momentjs/latest/moment.min.js' %>
  <%= javascript_include_tag 'application', 'http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js' %>

  <%= stylesheet_link_tag 'application', 'http://cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css' %>
  <%= stylesheet_link_tag 'application', 'http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css' %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
